In [1]:
import numpy as np
import pandas as pd 
import warnings 
warnings.filterwarnings ("ignore")

In [2]:
df=pd.read_csv("cars.csv")
df.head()

,symboling,normalized-losses,make,fuel-type,body-style,drive-wheels,engine-location,width,height,engine-type,engine-size,horsepower,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27,13495
1,3,?,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27,16500
2,1,?,alfa-romero,gas,hatchback,rwd,front,65.5,52.4,ohcv,152,154,19,26,16500
3,2,164,audi,gas,sedan,fwd,front,66.2,54.3,ohc,109,102,24,30,13950
4,2,164,audi,gas,sedan,4wd,front,66.4,54.3,ohc,136,115,18,22,17450

In [3]:
df["normalized-losses"].replace("?",np.nan,inplace=True)

In [4]:
df["horsepower"].replace("?",np.nan,inplace=True)

In [5]:
df['normalized-losses'].isnull().sum()

41

In [6]:
df["horsepower"].isnull().sum()

2

In [8]:
from sklearn.impute import SimpleImputer
si=SimpleImputer(missing_values=np.nan,strategy="mean")
df[["horsepower","normalized-losses"]]=si.fit_transform(df[["horsepower","normalized-losses"]])
df.head()

,symboling,normalized-losses,make,fuel-type,body-style,drive-wheels,engine-location,width,height,engine-type,engine-size,horsepower,city-mpg,highway-mpg,price
0,3,122.0,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111.0,21,27,13495
1,3,122.0,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111.0,21,27,16500
2,1,122.0,alfa-romero,gas,hatchback,rwd,front,65.5,52.4,ohcv,152,154.0,19,26,16500
3,2,164.0,audi,gas,sedan,fwd,front,66.2,54.3,ohc,109,102.0,24,30,13950
4,2,164.0,audi,gas,sedan,4wd,front,66.4,54.3,ohc,136,115.0,18,22,17450

In [9]:
x=df.iloc[:,:-1]
x

,symboling,normalized-losses,make,fuel-type,body-style,drive-wheels,engine-location,width,height,engine-type,engine-size,horsepower,city-mpg,highway-mpg
0,3,122.0,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111.0,21,27
1,3,122.0,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111.0,21,27
2,1,122.0,alfa-romero,gas,hatchback,rwd,front,65.5,52.4,ohcv,152,154.0,19,26
3,2,164.0,audi,gas,sedan,fwd,front,66.2,54.3,ohc,109,102.0,24,30
4,2,164.0,audi,gas,sedan,4wd,front,66.4,54.3,ohc,136,115.0,18,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95.0,volvo,gas,sedan,rwd,front,68.9,55.5,ohc,141,114.0,23,28
201,-1,95.0,volvo,gas,sedan,rwd,front,68.8,55.5,ohc,141,160.0,19,25
202,-1,95.0,volvo,gas,sedan,rwd,front,68.9,55.5,ohcv,173,134.0,18,23
203,-1,95.0,volvo,diesel,sedan,rwd,front,68.9,55.5,ohc,145,106.0,26,27
204,-1,95.0,volvo,gas,sedan,rwd,front,68.9,55.5,ohc,141,114.0,19,25

In [19]:
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  205 non-null    float64
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   body-style         205 non-null    object
 5   drive-wheels       205 non-null    object
 6   engine-location    205 non-null    object
 7   width              205 non-null    float64
 8   height             205 non-null    float64
 9   engine-type        205 non-null    object
 10  engine-size        205 non-null    int64
 11  horsepower         205 non-null    float64
 12  city-mpg           205 non-null    int64
 13  highway-mpg        205 non-null    int64
dtypes: float64(4), int64(4), object(6)
memory usage: 22.5+ KB

In [10]:
y=df.iloc[:,-1]
y

0      13495
1      16500
2      16500
3      13950
4      17450
       ...
200    16845
201    19045
202    21485
203    22470
204    22625
Name: price, Length: 205, dtype: int64

In [11]:
df.select_dtypes(object).columns

Index(['make', 'fuel-type', 'body-style', 'drive-wheels', 'engine-location',
       'engine-type'],
      dtype='object')

In [13]:
catcol=df.select_dtypes(object).columns
catcol

Index(['make', 'fuel-type', 'body-style', 'drive-wheels', 'engine-location',
       'engine-type'],
      dtype='object')

In [14]:
from sklearn.preprocessing import OrdinalEncoder 
oe=OrdinalEncoder() 
df[catcol]=oe.fit_transform(df[catcol])
df

,symboling,normalized-losses,make,fuel-type,body-style,drive-wheels,engine-location,width,height,engine-type,engine-size,horsepower,city-mpg,highway-mpg,price
0,3,122.0,0.0,1.0,0.0,2.0,0.0,64.1,48.8,0.0,130,111.0,21,27,13495
1,3,122.0,0.0,1.0,0.0,2.0,0.0,64.1,48.8,0.0,130,111.0,21,27,16500
2,1,122.0,0.0,1.0,2.0,2.0,0.0,65.5,52.4,5.0,152,154.0,19,26,16500
3,2,164.0,1.0,1.0,3.0,1.0,0.0,66.2,54.3,3.0,109,102.0,24,30,13950
4,2,164.0,1.0,1.0,3.0,0.0,0.0,66.4,54.3,3.0,136,115.0,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95.0,21.0,1.0,3.0,2.0,0.0,68.9,55.5,3.0,141,114.0,23,28,16845
201,-1,95.0,21.0,1.0,3.0,2.0,0.0,68.8,55.5,3.0,141,160.0,19,25,19045
202,-1,95.0,21.0,1.0,3.0,2.0,0.0,68.9,55.5,5.0,173,134.0,18,23,21485
203,-1,95.0,21.0,0.0,3.0,2.0,0.0,68.9,55.5,3.0,145,106.0,26,27,22470
204,-1,95.0,21.0,1.0,3.0,2.0,0.0,68.9,55.5,3.0,141,114.0,19,25,22625

In [20]:
df.iloc[:,:]=df.iloc[:,:].astype("float64")

**Min_Max Scaler**

we will do scaling on X

In [23]:
from sklearn.preprocessing import MinMaxScaler 
mn=MinMaxScaler()
df.iloc[:,:-1]=mn.fit_transform(df.iloc[:,:-1])
df

,symboling,normalized-losses,make,fuel-type,body-style,drive-wheels,engine-location,width,height,engine-type,engine-size,horsepower,city-mpg,highway-mpg,price
0,1.0,0.298429,0.000000,1.0,0.00,1.0,0.0,0.316667,0.083333,0.000000,0.260377,0.262500,0.222222,0.289474,13495.0
1,1.0,0.298429,0.000000,1.0,0.00,1.0,0.0,0.316667,0.083333,0.000000,0.260377,0.262500,0.222222,0.289474,16500.0
2,0.6,0.298429,0.000000,1.0,0.50,1.0,0.0,0.433333,0.383333,0.833333,0.343396,0.441667,0.166667,0.263158,16500.0
3,0.8,0.518325,0.047619,1.0,0.75,0.5,0.0,0.491667,0.541667,0.500000,0.181132,0.225000,0.305556,0.368421,13950.0
4,0.8,0.518325,0.047619,1.0,0.75,0.0,0.0,0.508333,0.541667,0.500000,0.283019,0.279167,0.138889,0.157895,17450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,0.2,0.157068,1.000000,1.0,0.75,1.0,0.0,0.716667,0.641667,0.500000,0.301887,0.275000,0.277778,0.315789,16845.0
201,0.2,0.157068,1.000000,1.0,0.75,1.0,0.0,0.708333,0.641667,0.500000,0.301887,0.466667,0.166667,0.236842,19045.0
202,0.2,0.157068,1.000000,1.0,0.75,1.0,0.0,0.716667,0.641667,0.833333,0.422642,0.358333,0.138889,0.184211,21485.0
203,0.2,0.157068,1.000000,0.0,0.75,1.0,0.0,0.716667,0.641667,0.500000,0.316981,0.241667,0.361111,0.289474,22470.0
204,0.2,0.157068,1.000000,1.0,0.75,1.0,0.0,0.716667,0.641667,0.500000,0.301887,0.275000,0.166667,0.236842,22625.0

**Min_Max Scaler brings all values under the range of 0 to 1.**